#btnLogIn {
    -fx-background-color: lightskyblue;
}
.fieldNotValid {
    -fx-background-color: lightpink;
}
.fieldValid {
    -fx-background-color: yellowgreen;
}
#btnSignUp, #btnContinueAsGuest, #btnChangePassword{
    -fx-background-color: transparent;
}

#btnLogIn:hover {
    -fx-background-color: #5fb2ff;
}

#btnSignUp:hover, #btnContinueAsGuest:hover,  #btnChangePassword:hover{
    -fx-text-fill: #5fb2ff;
}

#mniHelp > .label{
    -fx-graphic: url("/images/icons-help-twenty.png");
}
#mniHelp .accelerator-text{
    -fx-graphic: none;
 }